<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Alta Pelicula</title>
</head>
<body>
	<form action="#" th:object="${pelicula}" th:action="@{/nuevaPelicula}">
		<label for="identificador">Identificador</label>
			<input type="text" th:field="*{identificador}" id="identificador"></br>
		<label for="titulo">Titulo de la Pelicula</label>
			<input type="text" th:field="*{titulo}" id="titulo"></br>
		<label for="director">Director de la Pelicula</label>
			<input type="text" th:field="*{director}" id="director"></br>
		<label for="sinopsis">Sinopsis de la Pelicula</label>
		<input type="text" th:field="*{sinopsis}" id="sinopsis"></br>
		<label for="categorias">Categorias de la Pelicula</label>
			<input type="text" th:field="*{categorias}" id="categorias"></br>
		<input type="submit" value="Alta de nueva pelicula">
	</form>
	<a href="#" th:href="@{/listadoDePeliculas}">Lista de Peliculas</a>
</body>
</html>